% rebase("osnovna.html")

<form action={{ operacija }} method="POST">
  <div class="form-group">
    <h3><label for="permutacija1">Vpiši prvo permutacijo:</label></h3>
    <textarea class="form-control" id="permutacija1" rows="1" name="permutacija1" placeholder="prva permutacija"></textarea>

    <div align="center">
      <h1>{{ operator }}</h1>
    </div>

    <h3><label for="permutacija2">Vpiši drugo permutacijo:</label></h3>
    <textarea class="form-control" id="permutacija2" rows="1" name="permutacija2" placeholder="druga permutacija"></textarea>
    <input type="submit" value={{ operiraj }}!>
  </div>
</form>