% rebase('osnovna.html')
<div align="center" class="home">
<h5>
<p>
Prispeli ste do <h1>permavulatorja!</h1>
<p>
Permavulator vam bo omogočil računanje z matrikami, vektorji in permutacijami,
Je zele enostaven za uporabo. Vse kar boste morali narediti je to, da boste utipkate bosisi matriko,
bosisi vektor, bodisi permutacijo odvisno od tega, s čemer boste želeli računati. 
</p>
<p>
Vektorje piši na sledč način:
<ul>
    <li>Elemente vrstorja piši tako, da jih ločiš s presledki.</li>
</ul>
Primera vektorja, ki zadošča zgornjim pogojem:
<table class="center">
    <tr>
        <td>
        1 1 0 0 0 2 5
        </td>
    </tr>
</table>
</p> 
<p>
Matrike piši na sledč način:
<ul>
    <li>Elemente istih vrstic matrik piši tako, da jih ločiš s presledki.</li>
    <li>Vrstice matrike ločiš tako, da greš v novo vrstico.</li>
    <li><i>Opozorilo:</i> Elementi vseh vrstic naj bodo imeli enako število elementov.</li>
  </ul>
Primera matrike. ki zadošča zgornjim pogojem:
</p>
<table class="center">
    <tr>
        <td>
        1 0 0 0 
        </td>
    </tr>

    <tr>
        <td>
        2 3 4 6
        </td>
    </tr>

    <tr>
        <td>
        0 1 10 100 
        </td>
    </tr>
</table>
Primer matrike, ki ne zadošča zgornjim pogojem:
<table class="center">
    <tr>
        <td>
        0 0 0 0 0
        </td>
    </tr>

    <tr>
        <td>
        1 1
        </td>
    </tr>
</table>
<p>
Permutacije piši na sledč način:
<ul>
    <li>Elemente vrstorja piši tako, da jih ločiš s presledki.</li>
</ul>
Primera permutacije. ki zadošča zgornjim pogojem:
</p>
    <table class="center">
        <tr>
            <td>
            2 1 3 4 8 7 6 5 
            </td>
        </tr>
    </table>
  
</div>
