<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Permavulator</title>
  </head>
  <body>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Permavulator</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat|Syncopate&display=swap"" rel="stylesheet">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Permavulator</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat|Syncopate&display=swap"" rel="stylesheet">

<style>
    body{position: relative;
        height: 100vh;
        margin: 0; 
        font-family: "Montserrat", sans-serif; 
        background-color: #94e6f5d7}
    h1  {font-family:"Montserrat", sans-serif; 
        font-size: 35px; 
        padding-top: 10px; 
        padding-bottom: 40px}
    ul{display: table;
      margin: 0 auto;}
    #overlay {position: fixed; z-index: 1;}
</style>
</head>
    <body>

        <div class="container">

            <div class="mx-auto" align="center" style="width: 200px;">
              <h1><a href="/" style="color: #a414b1e0;">Permavulator!</a></h1>
              </div>
            
            <div align="center">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <!-- Subdivizija za vektorje -->
              <div class="btn-group-vertical" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    Vektorji!
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a href="/sestevanjev" class="btn btn-secondary">seštej</a>       
                    <a href="/odstevanjev" class="btn btn-secondary">odštej</a> 
                    <a href="/izenaciv" class="btn btn-secondary">izenači</a>
                    <a href="/primerjajv" class="btn btn-secondary">primerjaj</a>
                    <a href="/norm" class="btn btn-secondary">dolžina</a>
                    <a href="/skalarniprodukt" class="btn btn-secondary">skalarano zmnoži</a>
                    <a href="/kot" class="btn btn-secondary">kot</a>
                    <a href="/vektorskiprodukt" class="btn btn-secondary">vektorski produkt</a>
                    <a href="/ploscinaparlalograma" class="btn btn-secondary">ploščina paralelograma</a>
                    <a href="/volumenparalelopipeda" class="btn btn-secondary">volumen paralelepipeda</a>
                    <a href="/volumenpiramide" class="btn btn-secondary">volumen piramide</a>
                    <a href="/enacbapremice" class="btn btn-secondary">enačba premice</a>
                </div>
            </div>
              <!-- Subdivizija za računanje z matrikami. -->
              <div class="btn-group-vertical" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                    Računanje z matrikami!
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <a href="/sestevanjem" class="btn btn-secondary">seštej</a>       
                    <a href="/odstevanjem" class="btn btn-secondary">odštej</a> 
                    <a href="/izenacim" class="btn btn-secondary">izenači</a>
                    <a href="/primerjam" class="btn btn-secondary">primerjaj</a>  
                    <a href="/slede" class="btn btn-secondary">sled</a> 
                    <a href="/determiniranje" class="btn btn-secondary">determinanta</a> 
                    <a href="/transponiranje" class="btn btn-secondary">transponiranje</a> 
                    <a href="/produkt" class="btn btn-secondary">produkt</a> 
                    <a href="/power" class="btn btn-secondary">potenciraj</a> 
                    <a href="/inverz" class="btn btn-secondary">inverz</a> 
                    <a href="/psevdoinverz" class="btn btn-secondary">psevdoinverz</a> 
                    <a href="/sistem" class="btn btn-secondary">sistem</a> 
                </div>
            </div> 
              <!-- Subdivizija za lastnosti matrik -->
              <div class="btn-group-vertical" role="group">
                <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                        Značaji matrik!
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                      <a class="dropdown-item" href="/dvojnostohasticna">dvojnostohastičnost matrika</a>
                      <a class="dropdown-item" href="/permutacijskaa">permutacijska matrika</a>
                      <a class="dropdown-item" href="/nenegativnost">nenegativnost matirke</a>
                      <a class="dropdown-item" href="/reduciabilnost">reducirabilnost matrike</a>
                      <a class="dropdown-item" href="/normalnost">normanost operatorja</a>
                      <a class="dropdown-item" href="/unitarnost">unitarnost operatorja</a>
                      <a class="dropdown-item" href="/sebiadjugiranost">sebiadjugiranost operatorja</a>
                    </div>
                </div>

              <!-- Subdivizija za permutacije.  -->
              <div class="btn-group-vertical" role="group">
                <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                        Permutacije :) !
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                      <a href="/preverjanjepermutacije" class="btn btn-secondary">ali je permutacija?</a>                      
                      <a href="/enkratnaslikapermutacije" class="btn btn-secondary">slika elementa</a>  
                      <a href="/elemntpoveckrantenemslikanjupermutacije" class="btn btn-secondary">element po večkratneem slikanju</a> 
                      <a href="/snn" class="btn btn-secondary">množica bijektivnoih preslikav</a>  
                      <a href="/cikel" class="btn btn-secondary">cikel v permutaciji</a>  
                      <a href="/cikli" class="btn btn-secondary">cikli v permutaciji</a>  
                      <a href="/inverzz" class="btn btn-secondary">inverz</a>  
                      <a href="/produktp" class="btn btn-secondary">produkt</a>  
                      <a href="/inverzije" class="btn btn-secondary">inverzije</a>
                      <a href="/signatura" class="btn btn-secondary">signatura</a>  
                    </div>
                </div>
            <!-- Subdivizija za zgodovino -->
            <div class="btn-group-vertical" role="group">
              <button id="btnGroupDrop5" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                    Zgodovina!
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                    <a class="dropdown-item" href="/zgodovinamat">zgodovina matrik</a>
                    <a class="dropdown-item" href="/zgodovinavek">zgodovina vektorjev</a>
                    <a class="dropdown-item" href="/zgodovinaper">zgodovina permutacij</a>
                  </div>
              </div>


            </div>
            </div>

          {{ !base }}
          
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>