% rebase('osnovna.html')
<div align="center" class="home">
<p>
Prispeli ste do <b><i>permavulatorja!</i></b>
<p>
Permavulator vam bo omogočil računanje z matrikami, z vektorji in s permutacijami.
Je zele enostaven za uporabo. Vse kar boste morali narediti je to, da boste morali vtipkati bodisi matriko,
bodisi vektor, bodisi permutacijo. 
</p>
<p>
<b>Vektorje </b> pišite na sledeč način:
<ul>
    <li>Elemente vektorja pišite tako, da jih ločite s presledki.</li>
</ul>
Primer vektorja, ki zadošča zgornjim pogojem:
<table class="center">
    <tr>
        <td>
        1 1 0 0 0 2 -5
        </td>
    </tr>
</table>
</p> 
<p>
<b>Matrike </b> pišite na sledeč način:
<ul>
    <li>Elemente istih vrstic matrik pišite tako, da jih ločičite s presledki.</li>
    <li>Vrstice matrike ločite tako, da greste v novo vrstico.</li>
    <li><i>Opozorilo:</i> Vsaka vrstica naj ima enako število elementov.</li>
  </ul>
Primer matrike, ki zadošča zgornjim pogojem:
</p>
<table class="center">
    <tr>
        <td>
        1 0 0 0 
        </td>
    </tr>
    <tr>
        <td>
        2 3 4 6
        </td>
    </tr>
    <tr>
        <td>
        0 1 10 100 
        </td>
    </tr>
</table>
Primer matrike, ki <b><i>ne</i></b> zadošča zgornjim pogojem:
<table class="center">
    <tr>
        <td>
        0 0 0 0 0
        </td>
    </tr>

    <tr>
        <td>
        1 1
        </td>
    </tr>
</table>
<p>
<b>Permutacije</b> pišite na sledeč način:
<ul>
    <li>Elemente permutacije pišite tako, da jih ločite s presledki.</li>
</ul>
Primer permutacije, ki zadošča zgornjim pogojem:
</p>
    <table class="center">
        <tr>
            <td>
            2 1 3 4 8 7 6 5 
            </td>
        </tr>
    </table>
  
</div>
