
% rebase("osnovna.html")

<form action={{ operacija }} method="POST">
  <div class="form-group">
    <label for="permutacija">Vpiši prvi vektor:</label>
    <textarea class="form-control" id="permutacija" rows="1" name="permutacija" placeholder="permutacija"></textarea>
    <label for="ep">Vpiši element, ki ga slikamo:</label>
    <textarea class="form-control" id="ep" rows="1" name="ep" placeholder="ep"></textarea>
    <label for="v">Vpiši kolikokrat slikamo element:</label>
    <textarea class="form-control" id="v" rows="1" name="v" placeholder="v"></textarea>
    <input type="submit" value={{ operiraj }}!>
  </div>
</form>
