<!-- Za vpisovanje treh vektorjev -->


% rebase("osnovna.html")

<form action={{ operacija }} method="POST">
  <div class="form-group">
    <label for="vektor1">Vpiši prvi vektor:</label>
    <textarea class="form-control" id="vektor1" rows="1" name="vektor1" placeholder="prvi vektor"></textarea>
    <label for="vektor2">Vpiši drugi vektor:</label>
    <textarea class="form-control" id="vektor2" rows="1" name="vektor2" placeholder="drugi vektor"></textarea>
    <label for="vektor3">Vpiši tretji vektor:</label>
    <textarea class="form-control" id="vektor3" rows="1" name="vektor3" placeholder="trerji vektor"></textarea>
    <input type="submit" value={{ operiraj }}!>
  </div>
</form>

